---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import BlogPreview from '../../../layouts/BlogPreview.astro';
import FormattedDate from '../../../components/FormattedDate.astro';

export async function getStaticPaths() {
   const posts = await getCollection('blog');
   const tags = Array.from(new Set(posts.flatMap((post) => post.data.tags)));
   return tags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;
const posts = (await getCollection('blog')).filter((post) => post.data.tags.includes(tag));
---

<style>
   i {
      background-color: mark;
      color: marktext;
   }
   h1 {
      text-align: center;
      margin: 0 0 0.5em 0;
   }
</style>
<BlogPreview>
   <main>
      <h1>Posts tagged with <i>{tag}</i></h1>
      <section>
         <ul>
            {
               posts.map((post) => (
                  <li>
                     <a href={`/blog/${post.id}/`}>
                        {post.data.heroImage && (
                           <Image width={720} height={360} src={post.data.heroImage} alt="" />
                        )}
                        <h4 class="title">{post.data.title}</h4>
                        <p class="date">
                           <FormattedDate date={post.data.pubDate} />
                        </p>
                     </a>
                  </li>
               ))
            }
         </ul>
      </section>
   </main>
</BlogPreview>
