---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import placeholderImg from '../assets/blog-placeholder-2.jpg';

const posts = (await getCollection('blog')).sort(
   (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
for (var i = 0; i <= 50; i++) {
    posts.push({id: `test${i}`, data: { title: `titletest${i}`, heroImage: placeholderImg }});
}
---

<div class="carosel">
    {posts.map((post) => {
    return <div>
        <a href=`/blog/${post.id}`>
            {post.data.heroImage && (
            // <Image width={720} height={360} src={post.data.heroImage} alt="" />
            <Image width={720} height={360} src={placeholderImg} alt="" />
            )}
            <span>{post.data.title}</span>
        </a>
    </div>
    })}
</div>

<style>
    .carosel {
        display: grid;
        justify-content: center;
        gap: 1rem;
        max-height: 45svh;
        min-height: 400px;
        grid-auto-flow: row;
        grid-auto-rows: 1fr 1fr;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        scroll-padding: 1rem;
    }

    .carosel > * {
        scroll-snap-align: start;
        text-align: center;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
    }

    .carosel span {
        display: flex;
        flex: 1;
        justify-self: center;
        padding: 0.5rem 0rem;
    }
</style>
