---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import placeholderImg from '../assets/blog-placeholder-2.jpg';

const posts = (await getCollection('blog')).sort(
   (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
// for (var i = 0; i <= 50; i++) {
//     posts.push({id: `test${i}`, data: { title: `titletest${i}`, heroImage: placeholderImg }});
// }
---

<div class="carosel">
    {posts.map((post) => {
    return <div>
        <a href=`/http-418/blog/${post.id}`>
            {post.data.heroImage && (
            <Image width={720} height={360} src={post.data.heroImage} alt="" />
            // <Image width={720} height={360} src={placeholderImg} alt="" />
            )}
            <h4>{post.data.title}</h4>
        </a>
    </div>
    })}
</div>

<style>
    .carosel {
        display: grid;
        justify-content: center;
        max-height: 45svh;
        min-height: 400px;
        grid-auto-flow: row;
        grid-auto-rows: 1fr 1fr;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        scroll-padding: 1rem;
    }

    .carosel > * {
        scroll-snap-align: start;
        text-align: center;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        padding-top: 0;
    }

    .carosel h4 {
        display: flex;
        flex: 1;
        justify-self: center;
        padding: 0.5rem 0rem;
        margin: 0;
        color: rgb(var(--black));
    }

    .carosel div * {
        text-decoration: none;
        transition: 0.2s ease;
    }

    .carosel a:hover h4 {
        color: var(--accent);
    }

    .carosel a:hover img {
        box-shadow: var(--box-shadow);
    }

    .carosel a:hover {
        color: rgb(var(--accent));
    }
</style>
